{
    "swagger": "2.0",
    "info": {
        "description": "Descripción del WebService",
        "version": "0.0.1",
        "title": "Nombre WebService"
    },
    "host": "devworms.com",
    "basePath": "/api",
    "schemes": [
        "http"
    ],
    "paths": {
        "/user/login": {
            "post": {
                "tags": [
                    "user"
                ],
                "summary": "Login de usuario",
                "description": "Login de usuario devuelve el api_key del usuario",
                "operationId": "loginUser",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user",
                        "in": "formData",
                        "description": "Email del usuario",
                        "required": true,
                        "type": "string"
                    }, {
                        "name": "password",
                        "in": "formData",
                        "description": "Contraseña del usuario",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Invalid username/password supplied"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        },
        "/user/profile/{user_id}": {
            "get": {
                "tags": [
                    "user"
                ],
                "summary": "Perfil de usuario",
                "description": "Devuelve el perfil del usuario",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "path",
                        "description": "Id de usuario",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Invalid username/password supplied"
                    },
                    "500": {
                        "description": "Internal server error"
                    }
                }
            }
        }
    }
}